*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: century;
}
.main{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)), url("./background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.navbar{
    display: flex;
    background-color:rgba(0,0,0,0.5);
    align-items: center;
    justify-content: space-between;
}
.navbar img{
    margin: 40px;
    height: 120px;
    width: 100px;
    clip-path: circle();
    cursor: pointer;
}
.navbar ul{
    display: flex;
    justify-content: space-around;
}
.navbar ul li{
    margin: 30px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    align-items: center;
    transition: 0.5s;
    padding: 1rem;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: 700;
}
.navbar ul li a:hover{
    color: black;
    background-color: white;
    box-shadow: 0 0 30px white;
    margin: 10px;
    padding: 10px;
}
#main{
    color: white;
    top: 50%;
    transform: translateY(-50%,-50%);
    text-align: center;
    position: absolute;
    width: 100%;
}
#main p{
    font-size: 50px;
    font-weight: bold;
}
.btn{
    margin: 20px;
    margin-top: 40px;
    font-size: 30px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 40px;
    background: transparent;
    color: white;
    border: 2px solid white;
    transition: 0.5s;
    width: 200px;
}
.btn:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 30px white;
}